<p>
  <b>Original Text:</b>
  <%= @tasks.content %>
</p>
<p>
  <b>Your Translation:</b>
  <%= @tasks.translated_text %>
</p>
<p>
  <b>Reward:</b>
  <%= @tasks.reward.round(2) %>
</p>
<%= link_to 'Back', tasks_path %>
